body {
    display: flex;
    width: 100vw;
    &>header {
        /*& = ele mesmo*/
        align-items: center;
        background-color: #fff;
        display: flex;
        height: 100px;
        justify-content: center;
        position: fixed;
        top: 0;
        transition-duration: 0.5s;
        width: 100%;
        z-index: 100;
        &>nav {
            width: 70%;
            &>ul {
                display: flex;
                margin: 0;
                &>li {
                    list-style: none;
                    margin-right: 20px;
                    &>a {
                        color: #222;
                        font-weight: bold;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.full-banner {
    background: url('../images/hero-bg-xs.webp') no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    .destak {
        width: 40%;
        height: 60vh;
        position: absolute;
        bottom: 0;
        left: 15%;
        >h1 {
            font-size: 4em;
            line-height: 1em;
            font-weight: 300;
            margin-bottom: 5%;
            margin-top: 2%;
        }
        h2,
        h3 {
            margin: 0;
        }
        h2,
        h3 {
            font-weight: 300;
            width: 80%;
        }
        h3 {
            width: 95%;
            background: rgba(36, 36, 36, 0.35);
            color: #FFF;
            font-weight: normal;
            line-height: 3em;
            border-radius: 25px;
            font-size: 0.8em;
            padding: 0 2%;
            span {
                //elemento de linha
                background: #006d8f;
                border-radius: 25px;
                display: inline-block;
                line-height: 1.6em;
                padding: 0 3%;
                width: fit-content;
            }
        }
    }
}

button {
    background: linear-gradient(150deg, #FFE45C 0%, #FFC900 100%);
    border: none;
    border-radius: 20px;
    color: #333;
    font-size: 0.8em;
    height: 40px;
    text-transform: uppercase;
    width: 290px;
}

button:hover {
    background: linear-gradient(150deg, #FFE978 0%, #FBD033 100%);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

button.disabled {
    background: transparent;
    border: solid 0.5px rgba(0, 0, 0, 0.5)
}

button.disabled:hover {
    border: solid 0.5px rgba(36, 36, 36, 0.2)
}

//colore o svg
.jss4 .jss6 {
    fill: hsla(0, 0%, 14%, 1);
}

//da tamanho ao svg
.jss12 {
    height: 24px;
    width: auto;
}


/*breakpoints, números que usamos para definir em que momento o CSS muda dependendo da tela*/


/*Smartphone - nenhuma (mobile first)
tablet - 768px
desktop - 992px, 1200px ou 1280px
desktop grande - 1440px, 1600px ou 1920px

768px e 992px ou 1280px são os mais usados*/

@media (min-width: 992px) {
    .full-banner {
        background: url('../images/hero-bg.webp');
        background-size: cover;
    }
}