body {
    //background: url('../images/hero-bg-xs.webp') no-repeat;
    //background-size: contain;
    display: flex;
    //height: calc(100vh - 100px - 100px);
    width: 100vw;
    &>header {
        /*& = ele mesmo*/
        align-items: center;
        background-color: #fff;
        display: flex;
        height: 100px;
        justify-content: center;
        position: fixed;
        top: 0;
        transition-duration: 0.5s;
        width: 100%;
        z-index: 100;
        &>nav {
            width: 70%;
            &>ul {
                display: flex;
                margin: 0;
                &>li {
                    list-style: none;
                    margin-right: 20px;
                    &>a {
                        color: #222;
                        font-weight: bold;
                        text-decoration: none;
                    }
                }
            }
        }
        button {
            background: #FFE45C;
            border: none;
            border-radius: 20px;
            color: #333;
            font-size: 0.8em;
            height: 40px;
            text-transform: uppercase;
            width: 290px;
        }
    }
}

//colore o svg
.jss4 .jss6 {
    fill: hsla(0, 0%, 14%, 1);
}

//da tamanho ao svg
.jss12 {
    height: 24px;
    width: auto;
}


/*@media ... desafio p amanha*/